/*----header-----*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 500;
  transition: position 10s ease-in, background-color 0.3s ease-in;
  &.active {
    position: fixed;
    background: #000000;
  }
  .logo {
    flex-shrink: 0;
    width: 230px;
    margin-right: 36px;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 104px;
    border-bottom: 1px solid var(--red-color);
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 0;margin: 0;
    >li {
      position: relative;
      padding: 10px 12px;
      &.menu-item-has-children {
        padding-right: 36px;
        &:before {
          content: '';
          position: absolute;
          left: 50%;
          bottom: -1px;
          transform: translateX(-50%);
          width: 35px;
          height: 9px;
          background-image: url('../img/icons/submenu-decor.svg');
          opacity: 0; visibility: hidden;
        }
        &::after {
          position: absolute;
          content: '';
          right: 12px;top: 50%;
          transform: translateY(-50%);
          width: 16px;
          height: 16px;
          background-image: url('../img/icons/chevron-down--red.svg');
        }
      }
      &:hover {
        .sub-menu,
        &::before {
          opacity: 100%;
          visibility: visible;
        }
      }
      >a {
        display: inline-block;
        position: relative;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.4;
        color: #444444;
      }
    }
    .sub-menu {
      position: absolute;
      left: 50%;top: 100%;
      transform: translateX(-50%);
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 8px 15px;
      margin: 0;
      width: 230px;
      max-height: 200px;
      overflow-y: auto;
      border-radius: 10px;
      background: var(--white-color);
      opacity: 0; visibility: hidden;
      z-index: 1000;
      transition: opacity .3s ease, visibility .3s ease;
      &::-webkit-scrollbar {
        width: 5px;
        background: rgba(68, 68, 68, 0.30);
      }
      &::-webkit-scrollbar-thumb {
        width: 5px;
        background: rgba(68, 68, 68, 0.50);
      }
      li a {
        display: inline-block;
        padding: 7px 0;
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        color: var(--font-color);
        &:hover {
          color: #444444;
        }
      }
    }
  }
  .second-search {
    margin-left: auto;
  }
  &__contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 16px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
    background-color: var(--green-color);
    a {
      display: inline-flex;
      padding: 12px;
      transition: opacity .3s ease;
      &:not(:last-child) {
        padding-right: 4px;
      }
      &:hover {
        opacity: .5;
      }
    }
  }
  &__phone {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    a {
      font-size: 16px;
      font-weight: 700;
      line-height: 1.4;
      color: #444444;
      transition: .3s ease;
      &:hover {
        color: var(--green-color);
      }
    }
    p {
      margin: 2px 0 0 0;
      font-size: 13px;
      font-weight: 600;
      line-height: 1.2;
      color: #444444;
    }
  }
}

/* Search */
.searchform {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 48px;
  &-input {
    box-sizing: border-box !important;
    padding: 14px 52px 14px 18px;
    width: 100%;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(68, 68, 68, 1) !important;
    border-radius: 12px;
    outline: none;
    border: 1px solid rgba(68, 68, 68, .5);
    background: var(--white-color) !important;
    transition: .3s ease;
  }
  &-input::placeholder {
    color: rgba(68, 68, 68, .5) !important;
  }
  &-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 48px;
    height: 48px;
    color: var(--green-color);
    border: 0;outline: none;
    background: none;
    cursor: pointer;
    transition: .3s ease;
    &:hover {
      opacity: .8;
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }
}
/* Second search */
.second-search {
  width: 48px;
  border-radius: 12px;
  background-color: var(--green-color);
  &:hover {
    background-color: transparent;
    .searchform-btn {
      color: var(--green-color);
      border: 2px solid var(--green-color);
    }
  }
  .searchform-input {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    opacity: 0;
  }
  .searchform-btn {
    color: var(--white-color);
    border-radius: 12px;
  }
  &.active {
    background-color: transparent;
    .searchform-input {
      width: 320px;
      opacity: 1;
    }
    .searchform-btn {
      color: var(--green-color);
    }
    &:hover {
      .searchform-btn {
        border: 0 !important;
      }
    }
  }
}

/* Show menu */
.header__nav.show {
  right: 0;
  z-index: 1000;
}