.frontpage-desktop-bg,
.frontpage-mobile-bg {
  position: absolute;
  top: 0;left: 0;right: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.frontpage-mobile-bg {
  display: none;
}

.post-type-archive-news,
.single {
  background-image: url('../img/desctop-page-decor.svg');
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position: top right;
}

@include mobile {
  .frontpage-desktop-bg {
    display: none;
  }
  .frontpage-mobile-bg {
    display: block;
  }
  .post-type-archive-news,
  .single {
    background-image: url('../img/mobile-page-decor.svg');
    background-position-y: 80px;
    background-size: 100% auto;
  }
}