/*-----pagination-----*/
.screen-reader-text {
  display: none;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  width: 100%;
}
.nav-links {
  display: flex;
}

.page-numbers {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  margin: 0 5px;
  font-weight: 500;
  font-size: 22px;
  line-height: 44px;
  text-align: center;
  color: #444444;
  border-radius: 30px;
  min-width: 44px;
  height: 44px;
  background-color: #eaeaea;
  transition: all 0.3s ease;
  &.disabled {
    opacity: 0.5;
    cursor: auto;
  }
  &:hover, &.current {
    color: var(--white-color) !important;
    background-color: var(--red-color);
  }

  &.prev {
    margin-right: 20px;
    margin-left: 0 !important;
  }
  &.next {
    margin-left: 20px;
    margin-right: 0 !important;
  }
  &.prev,
  &.next {
    color: #444444;
    border-radius: 0 !important;
    background-color: transparent !important;
    &:hover {
      color: var(--red-color) !important;
    }
  }
  // &.prev::after,
  // &.next::after {
  //   content: "";
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   width: 20px;
  //   height: 20px;
  //   .disabled {
  //     opacity: 0.5;
  //     cursor: auto;
  //   }
  // }
  // &.prev::after {
  //   background-image: url('../img/icons/arrow-left.svg');
  // }
  // &.next::after {
  //   background-image: url('../img/icons/arrow-right.svg');
  // }
}

@include mobile {
  .pagination {
    margin-top: 32px;
  }
  .page-numbers {
    padding: 0 6px;
    margin: 0 4px;
    font-size: 18px;
    line-height: 36px;
    min-width: 36px;
    height: 36px;
    &.prev {
      margin-right: 4px;
      svg {
        width: 18px;
        height: 18px;
      }
    }
    &.next {
      margin-left: 4px;
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}

@media screen and (max-width: 359px) {
  .page-numbers {
    font-size: 17px;
    line-height: 32px;
    min-width: 32px;
    height: 32px;
  }
}