/*-----title----*/
.heading-row {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 48px;
	.page-title {
		margin-right: 44px;
		margin-bottom: 0;
	}
	p {
		max-width: 380px;
		margin-top: 20px;
		margin-bottom: 0;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.5;
		letter-spacing: 0.15px;
		color: var(--font-color);
	}
}

h1,h2,h3,h4,h5,h6 {
	color: #444444;
}

.page-title {
	margin-top: 0;
	margin-bottom: 40px;
	font-size: 120px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.1;
	text-transform: uppercase;
	color: #444444;
}
.section-title {
	margin-top: 0;
	margin-bottom: 24px;
	font-size: 60px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.2;
	text-transform: uppercase;
	color: #444444;
}

@media screen and (max-width: 1365px) {
	.page-title {
		margin-bottom: 24px;
		font-size: 80px;
	}
	.section-title {
		margin-bottom: 24px;
		font-size: 44px;
	}
}

@include tablet {
	.page-title {
		margin-bottom: 24px;
		font-size: 48px;
	}
	.section-title {
		margin-bottom: 24px;
		font-size: 36px;
	}
}

@include mobile {
	.page-title {
		margin-bottom: 16px;
		font-size: 32px;
	}
	.section-title {
		margin-bottom: 16px;
		font-size: 32px;
	}
}