.contacts {
  padding-top: 220px;
  padding-bottom: 80px;
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  &__content {
    width: calc(41% - 20px);
    padding: 32px 36px;
    border-radius: 15px;
    background: #f9f9f9;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 44px 24px;
    width: 100%;
  }
  &-item {
    &__title {
      margin-top: 0;
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 18px;
      line-height: 1.1;
      color: #444444;
    }
    a {
      display: inline-flex;
      width: 100%;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.2;
      color: #444444;
      &:hover {
        color: var(--green-color);
      }
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.2;
      color: #444444;
    }
    .social {
      width: auto;
      color: var(--red-color);
      &:hover {
        color: var(--green-color);
      }
      &:not(:last-child) {
        margin-right: 20px;
        margin-bottom: 0;
      }
    }
  }
  &__map {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(59% - 20px);
  }
  &__digits {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    color: #444444;
    line-height: 1;
    .left {
      display: flex;
      align-items: center;
      padding-left: 140px;
      .over {
        position: absolute;
        left: -50px;
        top: 88px;
        transform: rotate(-90deg);
        font-size: 90px;
        line-height: 1;
      }
      .group {
        .numb {
          font-size: 140px;
          line-height: 1;
          color: var(--green-color);
        }
        .text {
          font-size: 106px;
          line-height: 1;
        }
      }
    }
    .right {
      margin-left: 60px;
      padding-top: 144px;
      border-left: 1px solid rgba(68, 68, 68, 0.30);
      .group {
        padding-left: 32px;
        font-size: 56px;
        .numb {
          color: var(--red-color);
        }
        &:not(:last-child) {
          padding-bottom: 24px;
          margin-bottom: 24px;
          border-bottom: 1px solid rgba(68, 68, 68, 0.30);
        }
      }
    }
  }
}

@media screen and (max-width: 1365px) {
  .contacts {
    padding-top: 140px;
    padding-bottom: 60px;
    &__container {
      justify-content: flex-start;
      flex-direction: column;
    }
    &__content {
      width: 100%;
      padding: 24px 32px;
      border-radius: 15px;
      background: #f9f9f9;
    }
    &__list {
      row-gap: 36px;
    }
    &__map {
      position: relative;
      top: auto;
      right: auto;
      width: 100%;
      margin-top: 32px;
    }
    &__digits {
      margin-top: 24px;
      flex-direction: column;
      .left {
        display: flex;
        align-items: center;
        padding-left: 110px;
        .over {
          left: -80px;
        }
      }
      .right {
        margin-top: 40px;
        margin-left: 0;
        padding-top: 0;
        border-left: 0;
        border-top: 1px solid rgba(68, 68, 68, 0.30);
        .group {
          padding-top: 24px;
          margin-left: 84px;
          padding-left: 32px;
          border-left: 1px solid rgba(68, 68, 68, 0.30);
          &:not(:last-child) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@include tablet {
  .contacts {
    padding-top: 120px;
    padding-bottom: 40px;
    .page-title {
      margin-bottom: 36px;
    }
    &__content {
      width: 100%;
      padding: 24px 20px;
    }
    &__digits {
      .left {
        padding-left: 44px;
        .over {
          top: 44px;
          left: -36px;
          font-size: 40px;
        }
        .group {
          .numb {
            font-size: 72px;
          }
          .text {
            font-size: 52px;
          }
        }
      }
      .right {
        margin-top: 12px;
        margin-left: 0;
        padding-top: 0;
        border-left: 0;
        border-top: 1px solid rgba(68, 68, 68, 0.30);
        .group {
          padding-top: 12px;
          margin-left: 40px;
          padding-left: 14px;
          font-size: 28px;
          &:not(:last-child) {
            padding-bottom: 12px;
          }
        }
      }
    }
  }
}

@include mobile {
  .contacts {
    &__map {
      width: calc(100% + 40px);
      margin-left: -20px;
    }
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
    &-item {
      &__title {
        margin-bottom: 16px;
        font-size: 16px;
      }
      a {
        font-size: 14px;
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
      p {
        font-size: 14px;
      }
    }
  }
}