.contactusbl {
  padding-top: 48px;
  padding-bottom: 100px;
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 36px 36px 40px 36px;
    border-radius: 15px;
    background-color: #f9f9f9;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 100%;
      height: 100px;
      border-radius: 15px;
      background: linear-gradient(to right,  #20c4b2 0%,#ff006d 100%);
      z-index: -1;
    }
    .heading {
      width: 560px;
      margin-bottom: 0;
      margin-right: 40px;
      .section-title {
        margin-bottom: 14px;
      }
      p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.15px;
        color: var(--font-color);
      }
    }
    .form {
      width: calc(100% - 560px - 20px);
      .form-group {
        &:nth-child(1) {
          width: calc(50% - 10px);
          margin-right: 20px;
        }
        &:nth-child(2) {
          width: calc(50% - 10px);
        }
      }
      .accept {
        max-width: 280px;
        margin: auto 0 auto 28px;
      }
    }
  }
}

@media screen and (max-width: 1365px) {
  .contactusbl {
    &__container {
      padding: 28px 28px 32px 28px;
      .heading {
        width: 420px;
        margin-right: 28px;
      }
      .form {
        width: calc(100% - 420px - 20px);
      }
    }
  }
}

@include tablet {
  .contactusbl {
    padding-top: 40px;
    padding-bottom: 80px;
    &__container {
      justify-content: flex-start;
      flex-direction: column;
      padding: 20px;
      .heading {
        width: 100%;
        margin-bottom: 32px;
        margin-right: 0;
        p {
          font-size: 14px;
        }
      }
      .form {
        width: 100%;
        .form-group {
          &:nth-child(1) {
            width: 100%;
            margin-right: 0;
          }
          &:nth-child(2) {
            width: 100%;
          }
        }
        .button {
          width: 100%;
        }
        .accept {
          max-width: 100%;
          width: 100%;
          margin: 12px 0 0 0;
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .contactusbl {
    .container {
      padding: 0;
    }
  }
}

@include mobile {
  .contactusbl {
    padding-top: 32px;
    padding-bottom: 60px;
  }
}