.fclients {
  padding-top: 60px;
  padding-bottom: 60px;
  .heading {
    margin-bottom: 24px;
    .section-title {
      margin-bottom: 0;
    }
  }
  .line-decor {
    margin-bottom: 60px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    width: 100%;
  }
}

.line-decor {
  display: block;
  width: 100%;
  height: 44px;
  border-radius: 15px;
  background: linear-gradient(to right,  #20c4b2 0%,#ff006d 100%);
}

.point {
  &__icon {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
    height: 24px;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;left: 0;
      width: 24px;
      height: 24px;
      border-radius: 5px;
      background-color: var(--red-color);
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;left: 6px;
      width: calc(100% - 6px);
      height: 2px;
      border-radius: 3px;
      background-color: var(--red-color);
    }
  }
  &__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: var(--font-color);
    p {
      margin-top: 0;
      margin-bottom: 0;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}

@include tablet {
  .fclients {
    padding-top: 40px;
    padding-bottom: 40px;
    .line-decor {
      margin-bottom: 40px;
    }
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .line-decor {
    height: 36px;
  }
}

@include mobile {
  .fclients {
    padding-top: 32px;
    padding-bottom: 32px;
    &__list {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 24px;
    }
    .heading {
      margin-bottom: 12px;
    }
  }
  .line-decor {
    height: 20px;
    border-radius: 5px;
  }
  .point {
    &__icon {
      height: 16px;
      &::before {
        width: 16px;
        height: 16px;
        border-radius: 3px;
      }
    }
    &__text {
      font-size: 14px;
      p {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
}