.si {
  &-section {
    padding-top: 200px;
    margin-bottom: 80px;
  }
  &-head {
    position: relative;
    margin-bottom: 28px;
    width: 100%;
    padding: 44px 40px;
    height: 490px;
    border-radius: 15px;
    &__heading {
      .section-title {
        color: var(--white-color);
        margin-bottom: 8px;
      }
      p {
        color: rgba(255, 255, 255, 0.70);
        max-width: 430px;
      }
    }
    &__image {
      position: absolute;
      top: 0;left: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      object-fit: cover;
      z-index: -2;
    }
    &__blur {
      position: absolute;
      top: 0;left: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background: rgba(68, 68, 68, .4);
      z-index: -1;
    }
  }
  &-about {
    width: 100%;
    padding: 48px 40px;
    border-radius: 15px;
    background: #f9f9f9;
    &__container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    &__content {
      width: calc(50% - 50px);
      p {
        margin-top: 0;
        margin-bottom: 16px;
      }
    }
    &__features {
      width: calc(50% - 30px);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 72px 60px;
    }
  }
}

@media screen and (max-width: 1365px) {
  .si {
    &-section {
      padding-top: 140px;
      margin-bottom: 60px;
    }
    &-head {
      padding: 32px 28px;
    }
    &-about {
      padding: 32px 28px;
    }
  }
  .services__group:not(:last-child) {
    margin-bottom: 40px;
  }
}

@include tablet {
  .si {
    &-section {
      padding-top: 120px;
      margin-bottom: 48px;
    }
    &-head {
      height: 370px;
    }
    &-about {
      &__container {
        justify-content: flex-start;
        flex-direction: column;
      }
      &__content {
        width: 100%;
        margin-bottom: 32px;
      }
      &__features {
        width: 100%;
        gap: 48px 40px;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .si-section .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@include mobile {
  .si {
    &-head {
      padding: 20px;
      .section-title {
        font-size: 32px;
      }
    }
    &-about {
      padding: 20px;
      &__features {
        row-gap: 32px;
        grid-template-columns: repeat(1, 1fr);
      }
    }
    &__content {
      .title {
        font-size: 24px;
      }
    }
  }
}