/***** FONTS *****/
@import "fonts";

/***** GENERAL ELEMENTS *****/
:root {
  // base
  --content-width: 1840px;
  --container-offset: 40px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #ffffff;
  --black-color: #000000;
  --font-color: rgba(68, 68, 68, 0.70);

  --green-color: #20C4B2;
  --red-color: #FF006D;
  --violet-color: #8D6490;

  --grey-color: #F2F2F2;
}

/***** Mixins *****/
@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
@mixin desktop {
  @media screen and (max-width: 1560px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@include desktop {
  :root {
    // base
    --container-offset: 20px;
  }
}


/***** BLOCKS GLOBAL *****/
@import "general";
@import "blocks/buttons";
@import "blocks/title";
@import "blocks/pages";

/***** COMPONENTS GLOBAL *****/
@import "blocks/header";
@import "blocks/footer";
// @import "blocks/breadcrumbs";
// @import "blocks/pagination";
// @import "blocks/tags";
// @import "blocks/accordion";
// @import "blocks/tabs";
// @import "blocks/article";
// @import "blocks/sliders";
// @import "blocks/form";

/***** SECTIONS GLOBAL (Widgets) *****/
@import "widgets/hero";
@import "widgets/newsbl";
@import "widgets/aboutbl";
@import "widgets/fclients";